set incsearch
set surround
set hlsearch

set rnu
set number

let mapleader = " "

set clipboard+=ideaput

" Number keys
nnoremap + 1
vnoremap + 1
nnoremap ě 2
vnoremap ě 2
nnoremap š 3
vnoremap š 3
nnoremap č 4
vnoremap č 4
nnoremap ř 5
vnoremap ř 5
nnoremap ž 6
vnoremap ž 6
nnoremap ý 7
vnoremap ý 7
nnoremap á 8
vnoremap á 8
nnoremap í 9
vnoremap í 9
nnoremap é 0
vnoremap é 0

" Moving around
nnoremap gh ^
vnoremap gh ^
nnoremap gl $
vnoremap gl $

" Moving between splits
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

" Moving between tabs
nnoremap J gT
nnoremap K gt

" Cursor position
nnoremap <leader>H H
nnoremap <leader>L L
nnoremap <leader>M M

" Search 
nnoremap - /

" Cancel search highlighting with escape
nnoremap <ESC> :noh<CR>

" ftFT next match
nnoremap ů ;

" Open docs
nnoremap <leader>k K

" Edit actions
"" join lines
nnoremap <leader>j J
"" split line
nnoremap <leader>s i<CR><ESC>

" IDE actions
"" Editing
inoremap <C-Return> <C-o>:action EditorCompleteStatement<CR>
noremap <C-t> :action Refactorings.QuickListPopupAction<CR>
noremap <C-g> :action Generate<CR>
noremap <leader>f :action ReformatCode<CR>

"" Navigation
nnoremap <C-p> :action GotoFile<CR>
nnoremap <C-n> :action GotoClass<CR>
nnoremap <leader>u :action FindUsages<CR>

"" Running and stuff
noremap <F5> :action Debug<CR>
noremap <C-F5> :action Run<CR>
noremap <S-F5> :action Build<CR>

"" Tool windows
nnoremap <leader>t :action ActivateProjectToolWindow<CR>
nnoremap <leader>o :action ActivateTODOToolWindow<CR>
nnoremap <leader>h :action HideAllWindows<CR>

"" VCS
nnoremap <leader>c :action ChangesView.Commit<CR>
nnoremap <leader>p :action Vcs.Push<CR>
nnoremap <leader>P :action Git.Pull<CR>
