[Desktop Entry]
Comment=
Exec=konsole -e vim %f
Name=Vim (Konsole)
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
